<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav>
    {{ if not .IsHome }}
      <a href="/">Fiches</a>
      {{ if not .Parent.IsHome }}
        {{ if ne .Parent.Parent.Title "Fiches" }}
        <i class="arrow-right"></i>
        <a href="{{.Parent.Parent.URL}}">{{.Parent.Parent.Title}}</a>
        {{ end }}
      {{ end }}
      {{ if ne .Parent.Title "Fiches" }}
        <i class="arrow-right"></i>
        <a href="{{.Parent.URL}}">{{.Parent.Title}}</a>
      {{ end }}
      <i class="arrow-right"></i>
      {{ .Title }}
    {{ end }}
    <hr/>
    </nav>
